@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        background-color: #000;
        color: #fff;
        overflow-x: hidden;
    }
}

@layer components {
    ::-webkit-scrollbar {
        width: 3px;
    }
    
    ::-webkit-scrollbar-thumb {
        background-color: #5c5c5c;
        border-radius: 10px;
    }

    .fade-in-animation {
        animation: animation 0.6s ease-in-out both;
    }
}

@keyframes animation {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}